@model BookWyrm.Data.ViewModels.BookViewModel

@{
    ViewBag.Title = "Delete " + @Model.Title;
}

<style>
    td {
        padding: 10px;
    }

    td:first-of-type {
        text-align: right;
    }
</style>


<h2>Are you sure you want to delete "@Model.Title"?</h2>

<hr />

<table>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Title):</strong></td>
        <td>@Html.DisplayFor(model => model.Title)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Author):</strong></td>
        <td>@Html.DisplayFor(model => model.Author)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.YearPublished):</strong></td>
        <td>@Html.DisplayFor(model => model.YearPublished)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Genre):</strong></td>
        <td>@Html.DisplayFor(model => model.Genre)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Keywords):</strong></td>
        <td>@Html.DisplayFor(model => model.Keywords)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Description):</strong></td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.ISBN):</strong></td>
        <td>@Html.DisplayFor(model => model.ISBN)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Barcode):</strong></td>
        <td>@Html.DisplayFor(model => model.Barcode)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.MinAgeReq):</strong></td>
        <td>@Html.DisplayFor(model => model.MinAgeReq)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.HiddenNotes):</strong></td>
        <td>@Html.DisplayFor(model => model.HiddenNotes)</td>
    </tr>
</table>


<br />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="submit" value="Delete" class="btn btn-default">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" style="text-decoration: none !important; margin-right: 5px;"></span>
            Delete
        </button>
    </div>
}


<br />
<br />
<br />


<a href="@Url.Action("Index", "Book")" class="hoverable-link">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="text-decoration: none !important; margin-right: 5px;"></span>
    <span>Back to list</span>
</a>

