@model BookWyrm.Data.ViewModels.BookViewModel

@{
    ViewBag.Title = "Edit " + @Model.Title;
}

<h2>Edit "@Model.Title"</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />

    <div class="form-horizontal" style="margin-left: 5%; margin-bottom: 5%;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author)
            @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearPublished)
            @Html.TextBoxFor(model => model.YearPublished, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.YearPublished, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre)
            @Html.DropDownListFor(model => model.Genre, BookWyrm.Data.Models.Genre.StateListItems(), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Keywords)
            @Html.TextAreaFor(model => model.Keywords, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISBN)
            @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Barcode)
            @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinAgeReq)
            @Html.TextBoxFor(model => model.MinAgeReq, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MinAgeReq, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HiddenNotes)
            @Html.TextAreaFor(model => model.HiddenNotes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HiddenNotes, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <button type="submit" value="Create" class="btn btn-default">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="text-decoration: none !important; margin-right: 5px;"></span>
                Save
            </button>
        </div>

    </div>
}



<a href="@Url.Action("Index", "Book")" class="hoverable-link">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="text-decoration: none !important; margin-right: 5px;"></span>
    <span>Back to list</span>
</a>